---
import Logo from "@assets/logo.svg";
import CopyrightIcon from "@icons/copyright.svg";
import GithubIcon from "@icons/github.svg";
---

<footer class="footer bg-neutral text-neutral-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <Logo class="w-10 h-10" />
    <p class="flex gap-2">
      <span> Copyright </span>
      <CopyrightIcon class="w-5 h-5" />
      <span>{new Date().getFullYear()} - All right reserved</span>
    </p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a
      href="https://github.com/setTimeoutInfinity/wag-wonders"
      target="_blank"
      aria-label="wonder wag github repository"
    >
      <GithubIcon class="w-8 h-8" />
    </a>
  </nav>
</footer>
