---
import Logo from "@assets/logo.svg";
import MenuIcon from "@icons/dots-three-outline.svg";

import { NAV_ITEMS } from "@constants/app";

const currentPath = new URL(Astro.request.url).pathname;
---

<div class="navbar bg-base-300 w-full sticky top-0 z-30 shadow">
  <div class="flex flex-1">
    <Logo class="w-10 h-10 text-accent stroke-2" />
    <span class="text-xl ml-3">Wag Wonders</span>
  </div>
  <div class="hidden flex-none lg:block">
    <ul class="menu menu-horizontal">
      {
        [...NAV_ITEMS].reverse().map(({ label, Icon, link }) => (
          <li>
            <a href={link} class={currentPath === link ? "active" : ""}>
              <Icon class="w-5 h-5" />
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="flex-none lg:hidden">
    <!-- Actions -->
  </div>
</div>

<div class="btm-nav btm-nav-lg lg:hidden z-30">
  {
    NAV_ITEMS.map(({ label, Icon, link }) => (
      <a
        href={link}
        class={
          currentPath === link
            ? "active border-primary text-primary font-bold"
            : ""
        }
      >
        <Icon class="w-5 h-5" />
        <span class="btm-nav-label">{label}</span>
      </a>
    ))
  }

  <label
    for="wag-wonders-drawer"
    aria-label="open sidebar"
    class="flex flex-col items-center"
  >
    <MenuIcon class="w-5 h-5" />
    <span class="btm-nav-label">More</span>
  </label>
</div>
