---
import Navbar from "@components/Navbar.astro";
import AppDrawer from "@components/AppDrawer.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title?: string;
}
const { title } = Astro.props;
const titleSuffix = "Wag Wonders";
---

<!doctype html>
<html lang="en" date-theme="wagWonder">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title ? `${title} | ${titleSuffix}` : titleSuffix}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Flavors&family=IM+Fell+DW+Pica:ital@0;1&family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="h-screen w-full">
    <AppDrawer>
      <Navbar />

      <slot />

      <Footer />
      <div class="md:h-0 h-20"/>
    </AppDrawer>
  </body>
</html>
